<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('home') }}">The Simple Bar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
     

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% if  routeName == "home" %} active {% endif %}" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if  routeName == "show_beer" %} active {% endif %}" href="{{ path('show_beer', {'id' : 1}) }}">Beer Belgium</a>
            </li>
            {% for category in categories %}
                <li>
                    <a class="nav-link {% if  routeName == "category_beers" and category.id == id  %} active {% endif %}" href="{{ path('category_beers', {'id' : category.id}) }}">{{ category.title }}</a>
                </li>
            {% endfor %}
            <li class="nav-item">
                <a class="nav-link {% if  routeName == "admin.create.beer" %} active {% endif %}" href="{{ path('admin.create.beer', {'id' : 1}) }}">Add a beer</a>
            </li>
        </ul>
    </div>
</nav>
